<footer class="mt-auto py-3 text-center">

  <small class="text-muted mb-2">
    <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
    by <strong>{{ site.author.name }}</strong>
  </small>

  {% include social.html %}

  {%- assign theme_name = "portfolYOU" -%}
  {%- assign theme_repo = "https://github.com/PrestigeBR/portfolYOU" -%}
  <small id="attribution">
    forked <a href="{{ theme_repo }}">{{ theme_name }}</a>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    <div class="wow animated slideInUp" style="transform: rotate(90deg) scaleX(-1);">
<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="andré-valand-84aa3a255" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://se.linkedin.com/in/andr%C3%A9-valand-84aa3a255?trk=profile-badge"></a></div>
    </div>
  </small>

</footer>
